.header-right {
    overflow: hidden;
    background-color: #333;
    padding: 20px 10px;
}

.header-right a {
    float: right;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.user-drop {
    float: right;
    overflow: hidden;
}

.user-drop .user-dropbtn {
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.header-right a:hover,
.user-drop:hover .user-dropbtn {
    background-color: #ddd;
    color:rgb(20, 100, 150);
}

.header-right a.active {
    background-color: dodgerblue;
    color: white;
}

.user-dropcontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.user-dropcontent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.user-dropcontent a:hover {
    background-color: #ddd;
}

.user-drop:hover .user-dropcontent {
    display: block;
}

.header {
    float: left;
    color: white;
    font-size: 40px;
    font-weight: 600;
}