.container {
    background: #ebecf1;
    height: 85vh;
}

.wrapper {
    width: 800px;
    margin-top: 50px;
    margin: 50px auto;
    
}
 
* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0;
    /*padding: 0;*/
    box-sizing: border-box;
} 
 
body {
    background: #ebecf1;
    position: relative;
}

h1 {
    text-align: center;
} 

.page_name {
    width: 400px;
    margin: 5px auto;
    background: #fff;
    padding: 15px;
    border-radius: 2px;
}

.links {
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 2px;
}

.links ul {
    display: flex;
    justify-content: center;
}

.links ul li {
    margin: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    cursor: pointer;
}

.links ul li:hover,
.links ul li.active {
    color: #4abd3e;
}

.view_main {
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
}

.view_item img {
    width: 75px;
}

.list-view .view_item {

    border: 1px solid #e2efe1;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    /*align-items: center;*/
    height: 75px;
    max-height:100px;
}

.list-view .view_item:last-child {
    margin-bottom: 0;
}

.list-view .view_item .vi_left {
    width: 150px;
    margin-right: 25px;
}

.list-view .view_item .vi_middle {
    width: 100px;
    margin-right: 45px;
}

.list-view .view_item .vi_right {
    width: 300px;
}
.list-view .view_item .vi_rightmost {
    margin-left: 50px;
    margin-top: 10px;
    /*align-items: center;*/
}

.view_item .title {
    font-weight: 600;
}

.view_item .content {
    margin: 5px 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 200;
}

.view_item .btn {
    width: 75px;
    background: #FF7F50;
    color: #fff;
    border-radius: 3px;
    padding: 8px 5px;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.view_item .btn:hover {
    background: #fa6c38;
}
