* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ebecf1;
}

h1 {
    text-align: center;
}

.wrapper {
    background: white;
    width: 60%;
    text-align: center;
    margin: 3% auto 3% auto;
    padding: 1%;
    border-radius: 1%;
}

.page_name {
    width: 20%;
    margin: 1% auto 0 auto;
    background: #fff;
    padding: 15px;
    border-radius: 2px;
    position: relative;
}

.list-view {
    font-size: 20px;
    width: 80%;
    margin: 2% auto 2% auto;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
}

.list-view li {
    display: inline-block;
    width: 30%;
}

.list-view .title {
    background-color: rgb(17, 15, 15);
    color: white;
}

.list-view:hover {
    background-color: #ddd;
}

.list-view .trader,
.list-view .tradee {
    padding: 8px;
}

.accept-button {
    width: 75px;
    background: #FF7F50;
    color: #fff;
    border-radius: 3px;
    padding: 8px 5px;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.accept-button:hover {
    background: #fa6c38;
}

.reject-button {
    width: 75px;
    background: #5079ff;
    color: #fff;
    border-radius: 3px;
    padding: 8px 5px;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.reject-button:hover {
    background: #3855fa;
}