* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.wrapper {
    background: #1d2c4d;
    width: 50%;
    text-align: center;
    margin: 3% auto 3% auto;
    padding: 1%;
    border-radius: 5px;
}

.page_name {
    width: 100%;
    margin: 1% auto 0 auto;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.list-view {
    font-size: 20px;
    width: 80%;
    margin: 2% auto 2% auto;
    border: 1px solid white;
    border-radius: 5px;
    background: white;
    box-shadow: 0 8px 16px 0 rgba(241, 239, 239, 0.2);
}

.list-view li {
    display: inline-table;
    width: 30%;
}

.list-view .title {
    background-color: #1d2c4d;
    color: white;
}

.list-view .trader,
.list-view .tradee {
    color: black;
    padding: 8px;
}

.accept-button {
    width: 75px;
    background: #FF7F50;
    color: #fff;
    border-radius: 3px;
    padding: 8px 5px;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.accept-button:hover {
    background: #fa6c38;
}

.reject-button {
    width: 75px;
    background: #5079ff;
    color: #fff;
    border-radius: 3px;
    padding: 8px 5px;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.reject-button:hover {
    background: #3855fa;
}